<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>POD.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FD1FD604DBA90761D3BCD0EDC6053A06A33BC3EF</string>
				<key>dateExpires</key>
				<string>28/11/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD1FD604DBA90761D3BCD0EDC6053A06A33BC3EF</string>
						<key>dateExpires</key>
						<string>28/11/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5Q6BLC976V</string>
						<key>name</key>
						<string>SEAWIND SOLUTION PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD1FD604DBA90761D3BCD0EDC6053A06A33BC3EF</string>
						<key>dateExpires</key>
						<string>28/11/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5Q6BLC976V</string>
						<key>name</key>
						<string>SEAWIND SOLUTION PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD1FD604DBA90761D3BCD0EDC6053A06A33BC3EF</string>
						<key>dateExpires</key>
						<string>28/11/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5Q6BLC976V</string>
						<key>name</key>
						<string>SEAWIND SOLUTION PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD1FD604DBA90761D3BCD0EDC6053A06A33BC3EF</string>
						<key>dateExpires</key>
						<string>28/11/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5Q6BLC976V</string>
						<key>name</key>
						<string>SEAWIND SOLUTION PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD1FD604DBA90761D3BCD0EDC6053A06A33BC3EF</string>
						<key>dateExpires</key>
						<string>28/11/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5Q6BLC976V</string>
						<key>name</key>
						<string>SEAWIND SOLUTION PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD1FD604DBA90761D3BCD0EDC6053A06A33BC3EF</string>
						<key>dateExpires</key>
						<string>28/11/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5Q6BLC976V</string>
						<key>name</key>
						<string>SEAWIND SOLUTION PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD1FD604DBA90761D3BCD0EDC6053A06A33BC3EF</string>
						<key>dateExpires</key>
						<string>28/11/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5Q6BLC976V</string>
						<key>name</key>
						<string>SEAWIND SOLUTION PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD1FD604DBA90761D3BCD0EDC6053A06A33BC3EF</string>
						<key>dateExpires</key>
						<string>28/11/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5Q6BLC976V</string>
						<key>name</key>
						<string>SEAWIND SOLUTION PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD1FD604DBA90761D3BCD0EDC6053A06A33BC3EF</string>
						<key>dateExpires</key>
						<string>28/11/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5Q6BLC976V</string>
						<key>name</key>
						<string>SEAWIND SOLUTION PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD1FD604DBA90761D3BCD0EDC6053A06A33BC3EF</string>
						<key>dateExpires</key>
						<string>28/11/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5Q6BLC976V</string>
						<key>name</key>
						<string>SEAWIND SOLUTION PRIVATE LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5Q6BLC976V.com.seawindsolution.POD</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5Q6BLC976V</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>POD.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>519dcd8e-c655-4507-a60b-2187a01c8e43</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.seawindsolution.POD</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5Q6BLC976V</string>
				<key>name</key>
				<string>SEAWIND SOLUTION PRIVATE LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
